 * {
    box-sizing: border-box;
  }
  body {
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    margin: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
  }
  section {
    position: relative;
    padding: 15px;
    width: 100%;
  }
  p {
    position: relative;
    clear: right;
  }
  .x {
    position: relative;
    background-color: #9f9f9f;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .sub {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
  }
  .sub1 {
    background-color: #b83172;
    color: rgb(237, 237, 237);
  }
  .sub2 {
    background-color: #c19e45;
    color: rgb(237, 237, 237);
  }
  .sub3 {
    background-color: #8db831;
    color: rgb(237, 237, 237);
  }
  .content {
    padding: 5px;
    border: none;
    background-color: #9f9f9f;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
  }
  

  
  /*desktop--version*/
  @media (min-width: 992px) {
    .column-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  /*tablet--version*/
  @media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
      float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .colmn-md-12 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*mobile--version*/
  @media (max-width: 767px) {
    .colmn-sm-12 {
      float: left;
      width: 100%;
    }
  }
